<app-navbar></app-navbar>
<div style="background-image: url(../../assets/files/pexels-cottonbro-3843285.jpg); 
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: sans-serif;
">
    <!-- <h1 class="text-danger font-weight-bold" style="padding-top: 20%; padding-left: 37%;">Welcome To ORS</h1> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>
<app-footer></app-footer>